{% extends 'base.html' %} 
{% block title %}{{ brand.name }}{% endblock %}
{% block page-title %}{{ brand.name }}{% endblock %} 
{% block main-content %}
<h3 class="alert alert-primary">Taiwanese Franchise Brands</h3>
<div align="center">
    <table>
        <tr>
            <th>Brand</th>
            <td>{{ brand.name }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ brand.category }}</td>
        </tr>
        <tr>
            <th>Introduction</th>
            <td>{{ brand.introduction }}</td>
        </tr>
        <tr>
            <th>Website</th>
            <td>{{ brand.website }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>{{ brand.email }}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{ brand.telephone }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ brand.address }}</td>
        </tr>
        <tr>
            <th>Video</th>
            <td> <a href="https://www.youtube.com/watch?v={{brand.video}}" >
                <img src="https://i3.ytimg.com/vi/{{brand.video}}/hqdefault.jpg" class="card-img-top" alt="...">
            </a></td>
        </tr>
    </table>
</div>

{% endblock %}