{% extends "base.html" %}

{% block title %} {{ target_category.name }} {% endblock %}

{% block page-title %} <h1>{{ target_category.name }}</h1> {% endblock %}

{% block main-content %}
    {% if brands %}
        <div class="row">
            {% for brand in brands %}
                <div class="col-sm-6 col-md-4 col-lg-3 col-sx-12">
                    <div class="card">
                        <a href="https://www.youtube.com/watch?v={{brand.video}}" >
                            <img src="https://i3.ytimg.com/vi/{{brand.video}}/hqdefault.jpg" class="card-img-top" alt="...">
                        </a>
                            <div class="card-body" align="center">
                        
                        <h5 class="card-title"><a href="/brand/{{brand.id}}/" class="btn btn-primary">{{brand.name}}</a></h5>
                        <p class="card-text">views:{{brand.counter}}</p>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="alert alert-warning">There is no brand yet.</p>
    {% endif %}
{% endblock %}