{% extends 'base.html' %} 
{% block title %}Homepage{% endblock %}
{% block title-page %}Homepage{% endblock %} 
{% block page-title %}Welcome{% endblock %} 
{% block main-content %}

<h3 class="alert alert-primary">Taiwanese Franchise Brands</h3>
<hr />
<div align="center">
    
    <table>
        <tr>
            <th>ID</th><th>Brand</th><th>Category</th><th>Introduction</th><th>Website</th><th>Video</th>
        </tr>
    {% for brand in brands %}
        <tr>
            <td width="5%"> {{ brand.id}}</td>
            <td width="5%"> {{ brand.name }}</td>
            <td width="10%"> {{ brand.category }}</td>
            <td width="50%"> 
                {{ brand.introduction | truncatewords:40 }}
            </td>
            <td width="15%">{{ brand.website }}</td>
            <td width="15%"><a href="https://www.youtube.com/watch?v={{brand.video}}">video</a></td>
        </tr>
    {% empty %}
        <tr><td bgcolor="#fff" colspan=5>No comapny yet.</td></tr>
    {% endfor %}
    </table>
</div>

{% endblock %}